@import "./variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: $clr-main-bg;
  font-family: $ff-primary;
}

li {
  list-style-type: none;
}
